@model IEnumerable<PoliklinikaApp.Models.MedicinskiKarton>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.anamneza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medUsluga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dijagnoza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.redniBrojPregleda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.anamneza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medUsluga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dijagnoza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.redniBrojPregleda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.brMedKartona">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.brMedKartona">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.brMedKartona">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
